html{
    box-sizing: border-box !important;
    background-color: #f8f5f0;

}

    #app{
      background-color: #f8f5f0;
    }
  
  .table {
    --bs-table-bg: #f8f5f0 !important;
    --bs-table-striped-bg: #f5efe8 !important;
    --bs-table-hover-bg: #b0673c1c !important;
    margin-bottom: 0px !important ;
  }

  .container{
     width: 90vw !important;
     max-width: 1300px !important;
     margin: 30px auto !important;
     /* margin-left: 5vw !important; */
     padding: 0 !important;
  }

  .mainSeccion{
    width: 100%;
    margin: auto !important;
  }

  
  .custom-border-table th,
  .custom-border-table td {
      border: 1px solid white; 
      border-left: 0;
      border-right: 0;
  }

  .custom-border-table{
      margin-bottom: 0px;
  }

  .custom-big-table thead tr th {
      vertical-align: middle;
      text-align: center; /* Optional: for horizontal centering */
  }

  .custom-big-table th,
  .custom-big-table td {
      border-top: 1px solid white !important;
      border-bottom: 1px solid white !important;
      border-left: 0 !important;
      border-right: 0 !important;
  }

  .custom-big-table thead tr th{
      background-color: #b38d53;
  }

